<link href="/stylesheets/blackblocks.css" rel="stylesheet"/>

<div class="content-container">
    <div class="centered-content">
        <h1 class="help">Atlanta needs your help!</h1>
        <a href="https://www.change.org/p/save-black-blocks" class="support-button">Save Black Blocks</a>
        <p class="message">
            "For over two decades, this spot -- known to some as Black Blocks --  beckoned skateboarders with its painted ground, granite ledges, and metal benches, providing the perfect place to converge, to meet up, to practice a craft uninhibited, and to enjoy the sights, sounds, and culture of the downtown Atlanta area. Unbeknownst to most, Black Blocks is world famous as one of the United States' leading organic skateboard spots. Originally built for the 1996 Olympic Games, the spot garnered skateboarders' attention almost immediately."
            <a href="https://www.change.org/p/save-black-blocks" class="read-on">Read on and help!</a>
        </p>
    </div>
</div>
