<link href="/stylesheets/blackblocks.css" rel="stylesheet"/>

<div class="content-container">
    <div class="centered-content">
        <h1 class="help">Atlanta needs your help!</h1>
        <a href="https://www.change.org/p/save-black-blocks" class="support-button">Save Black Blocks</a>
    </div>
</div>
