
<div class="splash-container">
    <h1>atl skateboarding.</h1>
    <p>Georgia focused, Atlanta based, skateboarding.</p>
    <p>We want to collect and promote skateboarding from all over Georgia.</p>
    <br />
    <p><b>coming soon.</b></p>
</div>
    

